.user-grid-catalog-end {
  border-top-width: 1px;
  border-top-color: darkgray;
  border-top-style: dashed;
  padding-top: 1em;
  margin-top: 1em;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2em;
}
